<!-- <div class="h-screen dark:bg-gray-800 dark:border-gray-700">
  <app-navbar></app-navbar>
  <div class="h-screen flex items-center justify-center">
    <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow">
      <div class="flex justify-center items-center flex-col">
        <app-tasks-form></app-tasks-form>
      </div>
    </div>
  </div>
</div> -->
<div class="h-screen flex flex-col dark:bg-gray-800 dark:border-gray-700">
  <app-navbar></app-navbar>
  <div class="flex-grow flex items-center justify-center">
    <div class="w-3/12 p-6 bg-white border border-gray-200 rounded-lg shadow">
      <div class="flex justify-center items-center flex-col">
        <app-tasks-form></app-tasks-form>
      </div>
    </div>
  </div>
</div>

